p.titletext {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
p.generaltext {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
a.cms {
  text-decoration : none;
}
p.footertext {
  font-size: 70%;
  font-family: Arial, Helvetica, sans-serif;
}
h1.cms {
  font-family: Arial, Helvetica, sans-serif;
}
h2.cms {
  font-family: Arial, Helvetica, sans-serif;
}
h3.cms {
  font-family: Arial, Helvetica, sans-serif;
}
h4.cms {
  font-family: Arial, Helvetica, sans-serif;
}
h5.cms {
  font-family: Arial, Helvetica, sans-serif;
}
p.commentsheader  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
td.docdataborder  {
  border: 1px solid #000000;
}
td.docdatabody  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
h3.docdatatitle  {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0em;
  padding-bottom: 0em;
}
td.doclist1border  {
  border: 1px solid #000000;
}
td.doclist1body  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
td.doclist2border  {
  border: 1px solid #000000;
}
td.doclist2body  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
td.doclist3border  {
  border: 1px solid #000000;
}
td.doclist3body  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
td.infomessageboxborder  {
  border: 2px solid #000000;
}
td.infomessagebox  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
td.warningmessageboxborder  {
  border: 2px solid #000000;
}
td.warningmessagebox  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
td.errormessageboxborder  {
  border: 2px solid #000000;
}
td.errormessagebox  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
td.defaultmessageboxborder  {
  border: 2px solid #000000;
}
td.defaultmessagebox  {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
td.syndhead  {
  border: 1px solid #000000;
  text-align : center;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
td.syndbody  {
  border: 1px solid #000000;
}
ul.syndlist  {
  padding-left: 0.5em;
  margin-left : 0.5em;  
  margin-bottom: 0px;
}
li.synditem  {
  list-style-type : square;
  margin-left: 0px;
  padding-left: 0px;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
.pngimg {
  behavior: url("pngbehavior.htc");
}

/* Styles for document content */
a.gcms {
  text-decoration : none;
}
a.gcms:hover {
  text-decoration : none;
}
p.gcms {
  font-size: 90%;
  font-family: Verdana;
}
li.gcms {
  font-size: 90%;
  font-family: Verdana;
}
h1.gcms {
  font-family: Verdana;
}
h2.gcms {
  font-family: Verdana;
}
h3.gcms {
  font-family: Verdana;
}
h4.gcms {
  font-family: Verdana;
}
h5.gcms {
  font-family: Verdana;
}
h6.gcms {
  font-family: Verdana;
}
td.gfileheader  {
  font-size: 80%;
  font-family: Verdana;
  font-weight: bold;
}
td.gfilebody  {
  font-size: 90%;
  font-family: Verdana;
}
tr.gfilecolor1  {
}
tr.gfilecolor2  {
}
td.galbumbody  {
  font-size: 90%;
  font-family: Verdana;
}
.gboxedpara  {
  border: 1px solid #000000;
  font-size: 90%;
  font-family: Verdana;
  font-weight: bold;
  padding : 10px 10px 10px 10px;
}
