.scMenuToolbar { background-image: url(../../img/scriptcase__NM__olivedegrade.gif); padding: 2px; margin: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-color: #FFFFFF; width: 100%; height: 100% }
.scMenuHTable { background-color: #C2D0A4; border-collapse: collapse }
.scMenuHTableCss { background-color: #C2D0A4 }
.scMenuHHeader { background-color: #C2D0A4 }
.scMenuHHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scMenuHFooter { background-color: #C2D0A4; border-color: #9FAE8B; border-style: solid; border-width: 1px }
.scMenuHFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scMenuHItem { background-color: #C2D0A4; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #000; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHItemDisabled { background-color: #C2D0A4; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #C0C0C0; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHItemOver { background-color: #F2F1E5; font-family: Arial, Arial, sans-serif; font-size: 12px; color: #8ba3b9; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHSubItem { background-color: #F2F1E5; font-family: Arial, Arial, sans-serif; font-size: 11px; color: #000; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemDisabled { background-color: #F2F1E5; font-family: Arial, Arial, sans-serif; font-size: 11px; color: #C0C0C0; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemOver { background-color: #DCE4CA; font-family: Arial, Arial, sans-serif; font-size: 11px; color: #000; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
