.scProgressBarStart { background-color: #dfdfdf; border-collapse: collapse; border-style: solid; border-width: 0 }
.scProgressBarLoading { background-color: #B8C692; background-image: url(../../img/scriptcase__NM__bgToolBar2.png); border-collapse: collapse; border-color: #797979; border-style: solid; border-width: 1px }
