.scAppCalendarPage { background-color: #EFEFE2 }
.fc-header-title { color: #000000; font-family: Arial, sans-serif }
.fc-sun { color: #000; font-family: Arial, sans-serif }
.fc-mon { color: #000; font-family: Arial, sans-serif }
.fc-tue { color: #000; font-family: Arial, sans-serif }
.fc-wed { color: #000; font-family: Arial, sans-serif }
.fc-thu { color: #000; font-family: Arial, sans-serif }
.fc-fri { color: #000; font-family: Arial, sans-serif }
.fc-sat { color: #000; font-family: Arial, sans-serif }
.fc-axis { background-color: #FFF; color: #000; font-family: Arial, sans-serif; font-size: 11px }
.fc-not-today { color: #000; font-family: Arial, sans-serif; font-size: 11px }
