<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
"http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=[%CHARSET%]">
<title>[%Markup Quick Guide%]</title>
<style type="text/css">
<!--
body, td, p {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
}
-->
</style>
</head>
<body>
<center>
<table cellspacing=0 cellpadding=6 style="border-style:solid; border-width:1px; border-color: #CCC;">
        <tr>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        [b] Sample text [/b]
                </td>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        <b> Sample text </b>
                </td>
        </tr>
        <tr>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        [i] Sample text [/i]
                </td>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        <i> Sample text </i>
                </td>
        </tr>
        <tr>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        [u] Sample text [/u]
                </td>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        <u> Sample text </u>
                </td>
        </tr>
        <tr>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        [code] Sample text [/code]
                </td>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        <code> Sample text </code>
                </td>
        </tr>
        <tr>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        [url http://www.troubleticketexpress.com]Trouble Ticket Express[/url]
                </td>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        <a href="http://www.troubleticketexpress.com" target=_blank>Trouble Ticket Express</a>
                </td>
        </tr>
        <tr>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        [img http://www.helpdeskconnect.com/i/sml.gif]
                </td>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        <img src="http://www.helpdeskconnect.com/i/sml.gif">
                </td>
        </tr>
        <tr>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        [(]
                </td>
                <td style="border-style:solid; border-width:1px; border-color: #CCC;">
                        [
                </td>
        </tr>
</table>
</center>
</body>
</html>
