<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
"http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<title>Answer library</title>
<style type="text/css">
<!--
body, td, p { font-family: Verdana, Helvetica, sans-serif; font-size: 10pt;}
-->
</style>
</head>
<body>
<br>
<b>Answer Library</b> module is not installed on your server.
<br><br>
The module allows organizing answers to common questions. Your staff can quickly access canned
answers for instant solutions that save problem-resolution time. New staff members will benefit
from the canned answer library for training, enabling them to hit the ground running and be
productive right from their first day.
<br><br>
You may see the Answer Library module in action through our
<a href="http://www.troubleticketexpress.com/trouble-ticket-demo.html" target=_blank><b><nobr>demo help desk</nobr></b></a>.
<br><br>
For more detailed description and ordering info please refer to
<a href="http://www.troubleticketexpress.com/canned-answers.html" target=_blank><b><nobr>Answer Library page</nobr></b></a>.
</body>
</html>
