#logo {background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='templates/red_template_15/images/logo.png'}
#container_head_r { height: 850px; }
.search .inputbox {
 	background: url(../images/search_input.gif) top center no-repeat;
	padding-top: 7px;
	margin: 0;
	width: 116px;
	}
.search .button{ margin: 0;}

