/**
 * Joomgallery CSS Style 
 *
 * - User Panel
 *
 * Please adjust the CSS to your needs in the file joom_local.css 
 * in this directory. You can either create it yourself, or 
 * rename joom_local.css.README.
 *
 * - 'Meine Galerie' und Usergalerien allgemein
 *
 * Bitte nehmen Sie Änderungen in der Datei joom_local.css in diesem 
 * Verzeichnis vor. Sie können diese Datei erstellen oder die 
 * joom_local.css.README umbenennen
 **/

/* Box around copyright and title: */
div.jg_uploadcopyright{
  padding: 5px 15px 5px 15px;
}

/* Actual copyright text */
div.jg_uploadcopyright div{
  font-style:italic;
}

.jg_uploadquotas{
  padding: 5px;
  font-size:10px;
  text-align:center;
}

span.jg_quotatitle{
  font-weight:bold;  
}

.jg_up_head {
  vertical-align:middle;
  text-align:center !important;
  padding:0.3em 0;
}
.jg_usernavbox {
  display: block;
  margin:5px 0 !important;	
}

.jg_up_entry {
  overflow:hidden;
  height:1%;
  margin:auto;
  text-align:center;
  padding:0.4em 0;
}

.jg_uprow {
  overflow:hidden;
  padding-top:0.7em;
}

.jg_uptext {
  float:left;
  text-align:right;
  padding-right:0.9em;
  width:25%;
}

.jg_uploadform .jg_txtrow, .jg_editpicture .jg_txtrow {
  padding-top:1em;
}

.jg_up_ename,.jg_up_ehits,.jg_up_ecat,.jg_up_eact,.jg_up_eappr,.jg_up_esub1,.jg_up_esub2 {
  float:left;
}

.jg_up_ename {
  width:25%;
  text-align:left;
}

.jg_up_ehits {
  width:10%;
}

.jg_up_ecat {
  width:25%;
}

.jg_up_eact {
  width:24%;
}

.jg_up_esub1,.jg_up_esub2 {
  width:12%;
  padding:0pt 0.2em;
}

.jg_up_esub1 {
  text-align:right;
}

.jg_up_esub2 {
  text-align:left;
}

.jg_up_eappr {
  width:7%;
}

div.jg_uploadnotice{
  padding: 5px;
}
