<style type="text/css">
<!--
.featured_sectiontableentry1 {
	background-color: #eeff00;
	weight: bold;
}
.featured_sectiontableentry2 {
	background-color: #eecc00;
	weight: bold;
}
-->
</style>
<table width="100%" cellpadding="4" cellspacing="0" border="0" align="center" class="contentpane">
  <tr>
    <td><span class="contentheading">{jxtvalue=title}</span></td>
  </tr>
  <tr>
    <td valign="top" class="contentdescription">
      <p>{jxtvalue=description}
	  {jxtshowif=searchlinkempty}</p><p>{jxtvalue=searchlinkempty}{/jxtshowif}</p>
	  {jxtshowif=postitemlink}
	  	<a class='jx_functionlink' href='{jxtvalue=postitemlink}'><img src="components/com_jambook/images/editentries_big.png" alt="{jxtvalue=postitem}" title="{jxtvalue=postitem}" border="0" class="hasTip" />{jxtvalue=postitem}</a>
	  {/jxtshowif}
	<p>{jxtvalue=searchlink}</p>
	<p>{jxtlang=_JX_ENTRIES_IN_GUESTBOOK} <strong>{jxtvalue=total_number_of_entries}</strong></p>
    </td>
  </tr>
{jxtshowif=pagenavlimitbox}
  <tr>
    <td align="right">{jxtlang=_JX_DISPLAY_NR}&nbsp;{jxtvalue=pagenavlimitbox}</td>
  </tr>
{/jxtshowif}
  <tr>
    <td>
	<table width="100%" border="0" cellspacing="0" cellpadding="4">
{jxtvalue=itemlist}
      </table>
    </td>
  </tr>
  <tr><td height="5"></td></tr>
{jxtshowif=pagenavpageslinks}
  <tr>
    <td align="center" class="sectiontableheader">{jxtvalue=pagenavpageslinks}</td>
  </tr>
{/jxtshowif}
{jxtshowif=pagenavpagescounter}
  <tr>
    <td align="right">{jxtvalue=pagenavpagescounter}</td>
  </tr>
{/jxtshowif}
  <tr>
    <td valign="top" class="contentdescription">
      {jxtvalue=searchlink}
    </td>
  </tr>
</table>
<br />
<small><a href="http://www.jxdevelopment.com/">Powered by Jambook written by Olle Johansson from JX Development</a></small>
