<script language="javascript" type="text/javascript">
	function checkForm(thisform) {
		// do field validation
		if (thisform.search.value == ""){
			alert( "{jxtlang=_JX_NOSEARCHWORD}" );
			return false;
		} else {
			return true;
		}
	}
</script>
    <table cellpadding="5" cellspacing="0" border="0" width="100%" class="adminform">
	  <tr>
	    <td class="contentheading" width="100%" colspan="2">{jxtlang=_JX_NEW_SEARCH}</td>
	  </tr>
      <tr>
        <td>
          <form method="get" action="index.php" onsubmit="return checkForm(this);" name="searchForm">
          <input type="hidden" name="option" value="com_jambook" />
          <input type="hidden" name="task" value="results" />
          <input type="hidden" name="Itemid" value="{jxtvalue=Itemid}" />
          <input type="text" class="inputbox" name="search" value="{jxtvalue=search}" />
          <input class="button" type="submit" value="{jxtlang=_JX_SEARCH}" />
          </form>
        </td>
      </tr>
    </table>
