body {
	font-family: Tahoma, Verdana, sans-serif;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #000;
	background: #FEFEFE url(../images/bg.jpg) top left repeat-x;
	text-align: center;
}

.clr {
	clear: both;
}

body.contentpane {
	background: #FEFEFE url(../images/bg.jpg) top left repeat-x;
	text-align: left;
}

body.contentpane .contentpaneopen {
	width: 97%;
}

body.contentpane .contentpaneopen .contentheading {
	
}

.moduletable {
	margin: 0 auto;
}

select.button {
	width: auto;
	padding: 0;
}

td {
	font-family: Tahoma, Verdana, sans-serif;
	color: #000;
	font-size: 11px;
}

.sectiontableentry2, .sectiontableentry1 {
	color: #FFF;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	line-height: 20px;
	padding-left: 12px;
	padding-top: 0px;
}

a:link, a:visited {
	text-decoration: underline;
	font-weight: normal;
	color: #333;
}

a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #000;
}

p {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: justify;
}

.center {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 906px;
}

div#wrapper {
	margin: 0 auto;
	width: 906px;
	text-align: left;
	background: url(../images/content.jpg) top center repeat-y;
}

#area {
	padding: 0;
	margin: 0 auto;
	text-align:center;
}

#top {
	width: 906px;
	margin: 0 auto;
}

#search form {
	margin:0;
	padding:0;
}

#search .moduletable {
	margin:0;
	padding:0;
}

#search .search {
	width: 126px;
	height: 24px;
	padding: 6px 0 0 20px;
}

#search .search .button {
	display: none;
}

#search .search .inputbox {
	font-size: 11px;
	background: none;
	border: 0;
	padding: 0;
	margin:0;
}

#middle {
	background: url(../images/undermenu.jpg) top center no-repeat;
	width: 906px;
	height: 8px;
	margin: 0 auto;
	font-size: 0;
	line-height: 0;
}

#header {
	background: url(../images/header.jpg) top left no-repeat;
	width: 906px;
	margin: 0 auto;
	height: 226px;
}

.maintable {
	margin: 0 auto;
	width: 906px;
	text-align: left;
}

#sitename {
	padding: 96px 0 0 20px;
	text-align: left;
	margin: 0 auto;
	width: 856px;
}

#sitename p {
    font-weight: normal;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 20px;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
	outline: none;
	line-height: 36px;
}

#menucenter {
	text-align: left;
	margin: 22px auto 0 auto;
	padding: 0;
	background: url(../images/menu.jpg) top center no-repeat;
	width: 906px;
	height: 47px;
}

#menucenter .menu_m {
	float: left;
	padding: 0;
	margin: 0;
}

#topnavi{
}

#topnavi ul {
	margin: 0;
	padding: 0 14px;
	list-style: none;
}

#topnavi ul li {
	float: left;
	margin: 0;
	padding: 0;
	height: 47px;
	background: url(../images/menu_li.jpg) bottom right no-repeat;
}

#topnavi ul li a{
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 14px;
	float: left;
	display: block;
	line-height: 47px;
	padding: 0px 10px 0 10px;
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
	text-transform: lowercase;
	height: 47px;
}

#topnavi ul li a:hover,#topnavi ul li a.current{
	background: url(../images/menu_li_a_hover.jpg) bottom right no-repeat;
	cursor: pointer;
}

#topnavi ul li a span{

}
#topnavi ul li a:hover span,#topnavi ul li a.current span {

}

#leftmenu, #rightmenu {
	margin: 0;
	width: 180px;
	float: left;
	text-align: left;
	padding: 0;
}

#main {
	float: left;
	width: 514px;
	padding: 0 6px;
	text-align: left;
}

#main_full {
	float: left;
	width: 674px;
	padding: 0 0 0 10px;
	text-align: left;
}

#content {
	width: 886px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

#content_bottom {
	background: url(../images/content_bottom.jpg) top center no-repeat;
	height: 14px;
	font-size: 0;
	width: 906px;
	margin: 0 auto;
}

#footer {
	margin: 0 auto;
	width: 906px;
	height: 10px;
	text-align: center;
	vertical-align: top;
	padding: 10px 0;
}


a.mainlevel:link, a.mainlevel:visited {
	line-height: 18px;
	padding: 0 0 0 14px;
	text-decoration: none;
	color: #e3e7ff;
	font-weight: normal;
	font-size: 11px;
	background: url(../images/menu_row.jpg) center left no-repeat;
	margin: 0;
	height: 10px;
}

a#active_menu.mainlevel:link, a#active_menu.mainlevel:visited {
	color: #FFF;
}

a#active_menu.sublevel:link, a#active_menu.sublevel:visited {
	color: #FFF;
}

a.mainlevel:hover {
	color: #FFF;
}

a.sublevel:link, a.sublevel:visited {
	text-decoration: none;
	color: #e3e7ff;
	margin: 0 0 0 6px;
	font-size: 11px;
	background: url(../images/submenu_row.jpg) center left no-repeat;
	font-weight: normal;
	display: block;
	line-height: 18px;
	padding: 0 0 0 28px;
	border: none;
	height: 18px;
	text-align: left;
}

a.sublevel:hover {
	color: #FFF;
}

table.contentpaneopen {
	margin: 2px 8px;
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
	text-align: justify;
}

table.contentpaneopen td.contentheading {
	color: #333333;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	text-align:	left;
	vertical-align: middle;
}

.button {
	color: #333;
	font-size: 10px;
	border: 1px solid #555;
}

.inputbox {
	border: 1px solid #555;
	color: #333;
	padding: 2px;
}

input[type="checkbox"] { 
	border: none; 
}

.copyright {
	color: #555;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0 23px;
	text-align: center;
}

.back_button {
	float: left;
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	width: auto;
	padding: 0px 10px;
	line-height: 20px;
	margin: 10px 0 50px 0;
}

.componentheading {
	height: 22px;
	padding: 8px 0 0 10px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	margin: 0;	
	text-align: left;
	color: #555;
}

.wrapper {
	width: 670px;
	height: 550px;
}

.module div div div h3 {
	color: #FFF;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	height: 32px;
	text-decoration: none;
	padding: 0 0 0 20px;
	background: url(../images/h3.jpg) top center no-repeat;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
}

.module {
	padding: 0;
	margin: 0;
}

.module div {
	padding: 0;
	margin: 0 0 14px 0;
}

.module div div {
	margin:0;
	width: 100%;
	padding: 0;
	background: url(../images/column_bottom.jpg) bottom center no-repeat;
}

.module div div div {
	margin:0;
	padding: 0 0 4px 0;
	background: url(../images/column_top.jpg) top center no-repeat;
	text-align: center;
}

.module div div div div{
	border: none;
	padding: 0;
	margin: 0;	
}

.module div div div table {
	margin: 0;
	padding: 0 8px;
	list-style: none;
	background: none;
}

.module div div div div {
	padding: 0 0 1px 0;
	background: none;
}

.module div div div div.syndicate {
	margin: 0;
	padding: 0 0 10px 0;
}

.module div div div form {
	padding: 0;
	margin: 0;
	text-align: center;
}

.module div div div form table {
	padding: 0 10px;
	width: 100%;
	text-align: left;
}

/* footer links*/
a.sgfooter:link, a.sgfooter:visited {
	color: #555;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	text-decoration: none;
}
a.sgfooter:hover {
	color: #555;
	font-family: Tahoma, Verdana, sans-serif;
	text-decoration: none;
}
/**/
/*banner*/
.sgf {
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #555;
	text-decoration: none;
}
.sgf1 {
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #555;
	text-align: left;
}

a.sglink:link, a.sglink:visited {
	color: #FFF;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	text-decoration: none;
}
a.sglink:hover {
	text-decoration: none;
}

a img {
	border: 0;
}
.pathway {
	border: 0;
	color: #333333;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight:normal;
	padding:2px 4px 2px 10px;	
	
}

a.pathway:link, a.pathway:visited {
	color: #333333;
	font-size: 11px;
	line-height: 18px;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: normal;
	padding: 2px 4px 2px 4px;
}

a.pathway:hover {
	color: #fefefe;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight:normal;
	background-color:#2a519e;
}

.pagenav {
	font-size:12px;
	font-weight:normal;
}

#topnavigation a.topnavigation:link, a.topnavigation:visited {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing : 1px;
	color: #fefefe;
	padding-right:5px;
	text-decoration:none;
}

#topnavigation a.topnavigation:hover {
	color: #b9f15d;
	border-bottom: none;
	text-decoration:none;	
}
#topnavigation a.topnavigation:active {
	color: #51c0f5;
	text-decoration:none;	
}

a.toclink:link, a.toclink:visited {
	line-height:normal;
	font-size:11px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #000000;
	text-decoration: underline;
}

a.toclink:hover {
	text-decoration: none;
}

table.contenttoc {
	padding: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
}

table.contenttoc th {
	color: #333;
	text-align: left;
	padding-top: 2px;
	padding-left: 4px;
	height: 21px;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}

.sectiontableheader {
	height: 20px;
	padding-right:3px;
	font-weight :normal;
}

table.contentpane td.contentdescription {
	font-size:12px;
	line-height:18px;
}

table.contentpane td.componentheading {
	height: 20px;
	padding: 0 0 3px 0;
	color: #555;
	text-align: left;
	padding-bottom:3px;
	white-space: nowrap;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

table.contentpane td {
	padding-top:1px;
	padding-bottom:2px;
	font-size:12px;
}

table.contentpaneopen td {
	line-height: 14px;
	font-size: 12px;
}

.height {
	height: 100%;
}

.small {
	font-size: 10px;
	color: #555;
	font-weight: normal;
	text-align: left;
}

table.contentpaneopen td.createdate {
	color: #555555;
	font-size: 10px;
	font-weight: normal;
	height: 20px;
	padding-top: 0;
	vertical-align: top;
}

table.contentpaneopen td.modifydate {
	color: #555555;
	font-size: 10px;
	font-weight: normal;
	height: 20px;
	text-align: right;
	vertical-align: bottom;
}

table.contentpaneopen td a.readon{
	display: block;
	float: right;
	line-height: 14px;
	font-size: 10px;
	text-decoration: none;
	padding: 1px 2px 1px 2px;
	color: #333;
}

table.contentpaneopen td a.readon:hover{
	color: #333;
}

h4 {
	font-size: 10px;
	text-transform: uppercase;
}
table.contentpaneopen td.buttonheading {
	}
	
.pagenav_next, .pagenav_prev {
	font-size: 12px;
	color: #666;
}