<div style="background-color: white; font-family: verdana,arial; font-weight: normal;">
<h3>JOOMLA ATTEND EVENTS COMPONENT</h3>
<div style="font-size: 10px;">March 2007 :: Version 0.8.4<br></div>
<p>
A Component that allows user registration for sessions/events.<br />
A fork of <a href="http://mamboforge.net/projects/eventssessions/">Events Sessions</a> 0.6.0 by Tony Blair<br />
Supports optional integration with <a href="http://www.joomlapolis.com">Community Builder Component</a> and <a href="http://events.mosforge.net">Events Component</a>
</p>
<br />
<h4>HISTORY</h4>
<dl>
<dt>Version 0.8.4:</dt>
<dd><li>FEATURE:  Italian language support added (thanks to Massimo Gregori & VoT!)</li></dd>
<dd><li>FEATURE:  Swedish language support added (thanks to Johan Sundmark & Robert Edin!)</li></dd>
<dd><li>FEATURE:  Dutch language support added (thanks to Carry Megens & Erik!)</li></dd>
<dd><li>BUGFIX:  Minor errors with Spanish language file.</li></dd>
<dd><li>BUGFIX:  Cancellation message should now appear properly [post17346].</li></dd>
<dd><li>BUGFIX:  Fixed error where Javascript sometimes parses dates and times incorrectly.</li></dd>
<dt>&nbsp;</dt>
<dt>Version 0.8.3:</dt>
<dd><li>BUGFIX:  Avatar display on front-end comments</li></dd>
<dd><li>FEATURE:  Spanish language support added (thanks to Francisco Jose Toledano!)</li></dd>
<dt>&nbsp;</dt>
<dt>Version 0.8.2:</dt>
<dd><li>FEATURE:  German language support added (thanks to Michael Ruck & Jorg Matter!)</li</dd>
<dd><li>FEATURE:  Download current configuration setttings (for upgrading)</li></dd>
<dd><li>BUGFIX:  Compatibility with Events 1.3 [post12443]</li></dd>
<dd><li>BUGFIX:  Host name and email address in notification and confirmation messages [artf5877]</li></dd>
<dd><li>BUGFIX:  Registration period remains open [post12867]</li></dd>
<dd><li>BUGFIX:  Windows-based server compatibility [post12514]</li></dd>
<dd><li>FEATURE:  Venue country now passed to Google Maps</li></dd>
<dt>&nbsp</dt>
<dt>Version 0.8.1:</dt>
<dd><li>FEATURE:  Portuguese language support added (thanks to Peter Romao!)</li></dd>
<dd><li>BUGFIX:  Minor modifications to French language support [artf4210]</li></dd>
<dd><li>BUGFIX:  Missing path in require_once statement [artf4290]</li></dd>
<dd><li>BUGFIX:  Server time zone offset not accounted for everywhere [artf4679]</li></dd>
<dd><li>BUGFIX:  Host email address is now loaded properly [artf4723]</li></dd>
<dd><li>BUGFIX:  Registrations not exported correctly [post6623]</li></dd>
<dt>&nbsp;</dt>
<dt>Version 0.8.0:</dt>
<dd><li>FEATURE:  Customizable Registration Form [artf1726]</li></dd>
<dd><li>FEATURE:  Venue Table [artf2114]</li></dd>
<dd><li>FEATURE:  Optional List of 'Users Already Registered' [artf2291]</li></dd>
<dd><li>FEATURE:  Support for Session Host [artf2390]</li></dd>
<dd><li>FEATURE:  Improved control over listing sessions in the front-end [artf2097]</li></dd>
<dt>&nbsp;</dt>
<dt>Version 0.7.1:</dt>
<dd><li>FEATURE:  Added french language support (thanks to Laurent Belloeil!)</li</dd>
<dd>&nbsp;</dd>
<dt>Version 0.7.0:</dt>
<dd><li>Rebranding of Events Sessions 0.6.0</li></dd>
<dd><li>BUGFIX:  Sessions now deleted from database when they are removed in the back-end. [artf2229]</li></dd>
<dd><li>BUGFIX:  'Show Event Title' attribute is no longer ignored when listing sessions in the front-end. [artf1977]</li></dd>
<dd><li>BUGFIX:  'Published' attribute is no longer ignored when listing sessions in the front-end. [artf2284]</li></dd>
</dl>
</div>
