
html {
  height: 100%;
}

body {
	margin: 15px 15px 15px 20px;
	height: 100%;
	font-size: 76%;
}

a:link, a:visited {
	color: #1B57B1; text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #00c;	text-decoration: underline;
	font-weight: normal;
}

p {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

div, p, table, td, th, dl, dt, dd {
	font-family: Tahoma,Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	font-size: 1em;
}

dt {
  margin-left: 10px;
  font-weight: bold;
  color: #505050;
}

dd {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Helvetica ,Arial,sans-serif;
  font-size: 1.1em;
  border-bottom: 1px solid #cccccc;
  color: #333;
  padding-left: 0px;
  text-align: left;
}


h2 {
	padding: 0;
	margin: 0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	vertical-align: bottom;
	color: #1B57B1;
	text-align: left;
	width: 100%;
}



.modifydate {
	margin-top: 50px;
	font-size: .90em;
	color: #999999;
	font-weight: normal;
	text-align: left;
}


