.banner
{
    line-height: 35px;
    color: #fff;
    height: 40px;
    clear: left;
    width: 100%;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.form-control{
	height:23px;
}

label.error { 
	width:175px;
	
	color:#ff0000;
	
	float: left;
	
	font-size:1em;
}

.btn-default:hover,
.btn btn-default pull-right:hover
{
    background-repeat: repeat-x;
    border-color: #ccc;
    background-color: rgb(215,240,254);
    background-image: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(219,245,254) 100%);
}

.btn-default,
.btn btn-default pull-right
{
    background-repeat: repeat-x;
    background-color: rgb(233,233,233);
    background-image: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(233,233,233) 100%);
}

thead{
	background-color: rgb(233,233,233);
}

#footer p {
	margin: 0;
	line-height: normal;
	color: #B4B4B4;
	
}

#footer .legal {
	float: left;
}

#footer .credit {
	float: right;
}

.navbar-header {
  font-weight:bolder;
}

.navbar-brand
{
    color:Red;
}

.navbar li
{
    
  background-position:center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sunwer:hover
{
    background-image: url("../../Images/button_hover.jpg");
     background-position:center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid
{
   background-color:steelblue;  

  background-repeat:no-repeat;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hovering:hover{ 
 border: 4px solid Blue;
}